@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;700;900&display=swap");

body {
    font-family: "Sofia Sans", sans-serif;
    line-height: 1.7;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
}

a {
    color: rgba(59, 0, 114, 0.89);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

img {
    width: 100%;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

/*=================Top Nav ========================= */
.top-nav {
    background-color: rgb(255, 255, 255);
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 1rem;
    color: rgb(121, 82, 180);
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 2.125rem;
    height: 2.135rem;
    background-color: rgba(94, 94, 94, 0.788);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.16rem;
    border-radius: 100%;
    margin: 0 0.476rem;
}

.social-links a:hover {
    background-color: white;
    color: rgb(121, 82, 180);
}

.welcome-nav {
    box-shadow: 0px 4px 4px 3px rgba(164, 142, 189, 0.808);
    background-color: #662299;
}

.welcome-nav .navbar-brand {
    height: 3rem;
    width: 3rem;
}

.welcome-nav .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    font-size: 18px;
    color: white;
    transition: 0.2s ease-out;
}

.welcome-nav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: aqua solid 2px;
    color: aqua;
    transition: 0.2s ease-out;
}

.welcome-nav .navbar-nav .nav-item {
    padding-right: 15px;
}

.welcome-nav .navbar-nav .log-in .welcome-nav .navbar-nav .log-in:hover {
    border-left: white solid 5px;
    border-bottom: white solid 5px;
}

.btn-brand {
    background-color: rgb(255, 14, 134);
}

.btn-brand:hover {
    color: white;
    background-color: rgba(233, 0, 113, 0.726);
}

.welcome-nav .container-fluid .collapse .log-in:hover {
    border-bottom: rgb(197, 149, 255) solid 4px;
    border-left: #c885ff solid 4px;
    transition: 0.2s all;
}
.welcome-nav .container-fluid .collapse .log-in {
    font-size: 18px;
    font-weight: 400;
}

.welcome-nav .container .navbar-nav .nav-item .nav-link:hover,
.welcome-nav .container .navbar-nav .nav-item .nav-link.active {
    color: rgba(0, 139, 139, 0.87);
}

.steady1 {
    background: linear-gradient(#e0a5fd1b, rgba(234, 167, 255, 0.109)),
        url("/images/page_content.jpg");
    width: 100%;
    height: 100vh;
}

.info-container {
    background-color: #662299;
    height: 100%;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 2px 25px rgb(0, 0, 0, 10%);
}

.contact .info-item {
    width: 100%;
    background-color: #662299;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.contact .info-item i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.wrapper .login_form {
    background-color: #c297e69c;
}

.services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
    border-radius: 10px;
    box-shadow: -1px 2px 25px 12px rgb(0, 0, 0, 20%);
}

.services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}
.services .service-item .icon i {
    color: var(--color-default);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}

.services .service-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;
}

.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--color-primary);
}
.wrapper .steady1 .card {
    background: rgb(30, 8, 46);
    background: linear-gradient(
        145deg,
        rgba(30, 8, 46, 0.8099614845938375) 27%,
        rgba(145, 56, 213, 0.7847514005602241) 75%
    );
}
.wrapper .steady1 .card .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.wrapper .steady1 .card .form-group i {
    position: relative;
    color: purple;
    left: 36px;
    font-size: 21px;
    font-weight: 800;
}

.wrapper .steady1 .card .social-links {
    font-size: 28px;
    font-weight: 800;
    color: white;
}

/* ============ desktop view ============ */
/* .bd-navbar {
    padding: 0.75rem 0;
    background-color: #7952b4;
} */

.dropdown-menu-dark {
    color: #dee2e6;
    background-color: #7952b4 !important;
    border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item:hover,
.dropdown-menu-dark .dropdown-item:focus {
    color: #7952b4 !important;
    background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    color: #fff !important;
    background-color: #662299 !important;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    margin-right: auto;
    margin-left: auto;
}
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 780px) {
    .wrapper .steady1 .login-form {
        display: none;
    }
}

@media (max-width: 780px) {
    .top-nav .container-fluid .col-auto .social-links {
        display: none;
    }
}

/* ============ small devices .end// ============ */

#footer {
    background: rgb(30, 8, 46);
    background: linear-gradient(
        360deg,
        rgba(30, 8, 46, 0.969625350140056) 10%,
        rgba(75, 17, 119, 0.9556197478991597) 88%,
        rgba(143, 93, 181, 0.9556197478991597) 99%
    );
}

#footer .social_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
