.dark-skin .box {
    background-color: #272e48;
    box-shadow: -7.829px 11.607px 21px 0px rgb(25 42 70 / 13%);
}

.box {
    background-color: #415892;
}
.box {
    position: relative;
    border-top: 0;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
}
.box-widget {
    border: none;
    position: relative;
}
.widget-user .widget-user-header {
    padding: 20px;
    height: 140px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.widget-user .widget-user-username {
    margin-top: 0;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.widget-user .widget-user-username,
.widget-user-2 .widget-user-username,
.widget-user-3 .widget-user-username,
.widget-user-4 .widget-user-username {
    margin-bottom: 5px;
    font-size: 1.714rem;
}
.widget-user .widget-user-desc {
    margin-top: 0;
}
.widget-user .widget-user-image {
    position: absolute;
    top: 85px;
    left: 50%;
    margin-left: -45px;
}
.widget-user .widget-user-image > img {
    width: 90px;
    height: auto;
    border: 3px solid #ff844b;
}
.box .box-footer {
    background-color: #366897;
    border-color: rgba(255, 255, 255, 0.12);
    color: aliceblue;
}

.widget-user .box-footer {
    padding-top: 30px;
}
.box-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 1.5rem 1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box .box-header {
    color: #8a99b5;
    border-color: rgba(255, 255, 255, 0.12);
}

.box-header {
    color: #8a99b5;
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.box-header {
    color: #475f7b;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-control {
    border-color: rgba(255, 255, 255, 0.12);
}
.form-control {
    background-color: #eceef3;
    color: #1e2633;
}
.form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-control {
    border-radius: 10px;
    box-shadow: none;
    border-color: #b3c5d9;
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.theme-primary .btn-success {
    background-color: #00bc8b;
    border-color: #00bc8b;
    color: #ffffff;
}
select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default
    .select2-selection--single
    select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
    padding: 0.4375rem 0.75rem;
    border: 0;
    outline: 1px solid #717274;
    color: #34445a;
}
.box .box-header {
    color: #8a99b5;
    border-color: rgba(255, 255, 255, 0.12);
}

.box-header {
    color: #5d6d8b;
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom: 1px solid #5d6d8b;
}
.box-body {
    padding: 1.5rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 15px;
}
.box-header .box-title {
    display: inline-block;
    margin: 0;
    font-weight: 500;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block > .description-header {
    margin: 5px 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.143rem;
}
.description-block > .description-text {
    text-transform: uppercase;
}
.bl-1 {
    border-left: 1px solid #d5dce4 !important;
}

.br-1 {
    border-right: 1px solid #d5dce4 !important;
}
.widget-user .widget-user-username,
.widget-user-2 .widget-user-username,
.widget-user-3 .widget-user-username,
.widget-user-4 .widget-user-username {
    margin-bottom: 5px;
    font-size: 1.414rem;
}
.bg-light-gold {
    background-color: #e5d1a6f7 !important;
    color: #5d4a1f !important;
    border-left: 10px solid #5d4a1f !important;
}
.text-light-gold {
    color: #b8a16ff7 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bg-gold-light {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
        ) !important;
}
.bg-gold {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
        ) !important;
}
.bg-silver {
    background: rgb(182, 191, 196);
    background: linear-gradient(
        4deg,
        rgba(182, 191, 196, 1) 3%,
        rgba(138, 146, 158, 1) 42%,
        rgba(218, 222, 226, 1) 100%
    ) !important;
}
.bg-bronze {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
        ) !important;
}
.bg-platinum {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
        ) !important;
}
/* .bg-pink {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #a30e65 0%,
            #e20c89 40%,
            #e45dac 80%,
           #f867a4 90%

        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #f58ab7 0%,
            #f11a98 40%,
            #4e0420 100%
        ) !important;
} */
.bg-pink {
    background: linear-gradient(93deg, #4757bb, #0d1e4c);
}
.navbar .navbar-brand-wrapper .navbar-brand img {
    max-width: 100%;
    height: 75px;
    width: 75px;
    margin: auto;
    vertical-align: middle;
}
.navbar .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: inherit;
    font-size: 3.25rem;
    padding: 0;
    border-radius: 0;
}
@media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
        width: 100px;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-brand-wrapper {
        width: 100px;
    }
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 105px);
        padding-left: 15px;
        padding-right: 11px;
    }
}
@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
}
.sidebar {
    min-height: calc(100vh - 60px);
    background: linear-gradient(45deg, #222a69, #212967);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    padding: 0;
    width: 300px;
    z-index: 11;
    transition: width 0.55s ease, background 0.55s ease;
    overflow: hidden;
}
.sidebar .nav .nav-item .nav-link {
    color: #a7bef1;
}
.sidebar:hover {
    background: to linear-gradient(45deg, #2e7bc9, #15a76a);
}
.sidebar .nav .nav-item.active > .nav-link,
.sidebar .nav .nav-item > .nav-link:hover {
    background: #3394994a;
    position: relative;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link,
.sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
    background: #405e99;
    color: rgb(223, 237, 238) !important;
}
.sidebar-offcanvas.active {
    left: 0;
}

.sidebar .nav .nav-item .nav-link,
.sidebar .brand-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    color: #90b2ff;
    border-radius: 8px;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    font-size: 1.2rem;
}
.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.905rem;
    line-height: 1;
    vertical-align: middle;
    font-stretch: extra-expanded;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.5rem;
    line-height: 1;
    margin-right: 1rem;
    color: #2585f1;
}
#table > thead > tr > th:last-child {
    text-align: center !important;
}
#table > tbody > tr > td:last-child {
    text-align: right !important;
}

.table-bordered {
    border-left: 1px solid #ced4da00 !important;
}
.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
    padding: 0.7rem 1.375rem;
    /* vertical-align: top; */
    border-top: 1px solid #ced4da;
}
.table-bordered th,
.table-bordered td {
    border-bottom: 1px solid #c8d0d8e8 !important;
    border-top: 1px solid #ced4da00 !important;
    border-left: 1px solid #ced4da00 !important;
    border-right: 1px solid #ced4da00 !important;
}
.dataTables_wrapper > .row:nth-child(2) {
    /* overflow-x: auto!important; */
}
.delete {
    display: none;
}
.content-wrapper {
    background: linear-gradient(221deg, #fdfdff, #b6badf);
}
.bg-light {
    background: linear-gradient(221deg, #fdfdff, #b6badf) !important;
}
.card,
.card-body {
    background: linear-gradient(221deg, #ffffff00, #ffffff00) !important;
    box-shadow: none;
}
.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    width: 100%;
}
.content > .card {
    border-top: 5px solid #bacced;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #363d561f;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #dee0e7;
}
.table thead {
    background: linear-gradient(221deg, #fdfdff, #b6badf) !important;
}
.bg-gradient-success {
    background: linear-gradient(45deg, #2e7bc9, #15a76a);
}

.table-bordered th,
.table-bordered td {
    border-bottom: 1px solid #2871bbe8 !important;
    border-top: 1px solid #ced4da00 !important;
    border-left: 1px solid #ced4da00 !important;
    border-right: 1px solid #ced4da00 !important;
}
.table td,
.jsgrid .jsgrid-table td {
    padding: 0.1rem 1rem;
    /* vertical-align: top; */
    border-top: 1px solid #9dadbd;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
    display: inline-block;
    background: #c7cae7;
    height: 35px;
    border: 1px solid #4958e0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0;
    margin-left: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default
    .select2-selection--single
    select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
    border: 0;
    outline: 1px solid #cad2e3;
    color: #34445a;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    height: 34px;
    background: #c7cae79e;
    border: 1px solid #4958e0;
    content: attr(placeholder) "search...";
}
.pagination .page-item.active .page-link {
    background: #c7cadd;
    border-color: #c6c9dd;
    color: #877a92;
}
.pagination .page-item.hover .page-link {
    background: #84848d;
    border-color: #606375;
    color: #82669b;
}
.pagination .page-item .page-link {
    background: linear-gradient(221deg, #fdfdff, #b6badf) !important;
    border-color: #676b81;
    color: #dccbeb;
}

.pagination .page-item .page-link,
.jsgrid .jsgrid-pager .page-item .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-page a {
    border-color: #8891cd;
    color: #000000;
    font-size: 0.875rem;
}
.pagination .page-item .page-link:focus,
.jsgrid .jsgrid-pager .page-item .page-link:focus,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-link:focus,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-link:focus,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button a:focus,
.jsgrid .jsgrid-pager .jsgrid-pager-page a:focus {
    background: inherit;
}

.content-header .container-fluid {
    padding: 0;
}
.content-header .container-fluid .breadcrumb {
    padding: 0;
    align-items: center;
    margin-bottom: 0;
}
/* 991px */
@media (max-width: 991.98px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 80px);
        top: 80px;
        bottom: 0;
        overflow: auto;
        left: -300px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
}
.header-marge-panel {
    position: absolute;
    z-index: 999;
}
.header-marge-panel .btn {
    padding: 8px 20px !important;
}
.header-marge-panel a:hover {
    background-color: transparent;
    color: #212967;
    box-shadow: 0px 0px 15px 0px #212967;
}
@media (max-width: 414px) {
    .header-marge-panel {
        position: relative;
        display: flex;
        justify-content: end;
        padding-bottom: 0.5rem;
        z-index: 999;
    }
}

svg {
    display: inline !important;
    vertical-align: middle !important;
}
.content-header {
    padding: 0.2rem 0.5rem;
}
